#page {
    background-color: black;
}

#num {
   /* padding: 12px;*/
    color: white;
    font-size: 28px;
    background-color: black;
    border: none;
    font-size: 38px;
    margin-left: 514px;
    text-align: left;
}

#cal {
    border-style: none;
    text-align: center;
    margin-top: 152px;
}

.feature {
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 3px;
    font-size: 30px;
}

.color1 {
  
    font-size: 30px;
}

.colora {
    font-size: 30px;
    background-color: #FFA500;
    color: white;
}

.color2 {
    font-size: 30px;
    background-color: #737373;
    color: white;
}

.color0 {
    width: 157px;
    border-radius: 15px;
}
}
